.recommendedVideos {
	flex: 0.8;
	background-color: #f9f9f9;
	padding: 1.875rem 1rem;
	padding-bottom: 0;
}

.recommendedVideos > h2 {
	margin-left: 0.5rem;
	margin-bottom: 1.5rem;
}

.recommendedVideosCards {
	display: flex;
	flex-wrap: wrap;
}